.form__container {
    display: flex;
    width: 50vw;
    margin: 20px auto;
    align-items: center;
    padding: 20px;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgrey;
}

.form__container > form {
    width: 100%;
}

.form__container__title {
    justify-content: left;
    font-weight: bold;
}

.form__input__group {
    display: flex;
    flex-direction: row;
    margin: 10px 10px 10px 0;
    align-items: center;
    border-radius: 5px;
    color: black;
    background-color: white;
    border: 1.9px solid orange;
}

.form__input__group input,
.form__input__group select {
    padding: 10px;
    border: none;
    width: 100%;
}

.form__input__group input:focus,
.form__input__group select:focus {
    outline: none;
}

.form__button {
    background-color: orange;
    height: 40px;
    border: none;
    border-radius: 3px;
    width: 100%;
}

.form__stepper {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.form__stepper__separator {
    display: inline-block;
    border: 2px solid lightgrey;
    width: 100px;
}

.form__stepper__number button {
    text-decoration: none;
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 8px;
    font-weight: bold;
}

.form__stepper__number button:hover {
    cursor: pointer;
}

.form__stepper__number button:focus {
    outline: none;
}

.form__stepper__number {
    display: inline-block;
    background-color: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: lightgrey;
    margin: 0;
    text-align: center;
}

.form__stepper__separator.active {
    border: 2px solid lightskyblue;
}

.form__stepper__number.active {
    background-color: lightskyblue;
}

.form__input__error {
    color: red;
    font-size: 12px;
    margin: 10px 10px 10px 0;
    margin-top: 0px;
}

.form__input__group label {
    padding: 10px;
    font-size: 13px;
    color: grey;
}

.form__input__group label:hover {
    cursor: pointer;
}

.form__editor__wrapper.error,
.form__input__group.error {
    border: 1.9px solid red;
    margin-bottom: 0px;
}

.form__info {
    padding: 10px;
    font-size: 10px;
}

.form__info > a {
    font-size: 12px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    text-decoration: none;
}

.form__editor__wrapper {
    margin-top: 10px;
    border: 1.9px solid orange;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 5px;
}

.form__editor__content {
    border: 1px solid #F1F1F1;
    margin-bottom: 10px;
    padding: 5px;
}

@media screen and (max-width: 600px) {
    .form__container { width: 100vw; }
}