.home__background > img {
    z-index: -1;
    width: 100%;
    object-fit: contain;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.products__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: absolute;
    top: 60%;
}

.product__card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #F1F1F1;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
    width: 400px;
    box-shadow:
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12)
}

.product__card img {
    max-width: 150px;
    max-height: 150px;
    object-fit: contain;
    margin-right: 10px;
    border-radius: 5px;
}

.product__card button:hover {
    cursor: pointer;
}

.product__card__discount {
    font-size: 10px;
}

.product__card__price {
    margin-right: 5px;
    margin-left: 5px;
}

.product__card__price.strike {
    text-decoration: line-through;
}

.product__card__price.strong {
    font-weight: bold;
}

.product__card__info {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: 13px;
}

.product__card__info > h1 > a {
    text-decoration: none;
    color: orange;
}

.product__card__info span {
    padding: 2px;
}

.product__card__quantity {
    width: 70px;
    border: none;
    background-color: orange;
    padding: 2px;
    text-align: center;
    padding: 10px;
    border-right: 2px solid black;
}

.product__card__quantity::placeholder {
    color: black;
    font-weight: bold;
}

.product__card__button__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.product__card__button__container button {
    padding: 10px;
    border: none;
    background-color: orange;
    margin: 5px 5px 5px 0;
    flex: 1;
}

@media screen and (max-width: 600px) {
    .products__container { top: 31%; }
    .product__card { width: 90vw; }
}