.product__container {
    margin-top: 30px;
    display: flex;
}

.product__container__button {
    position: absolute;
    bottom: 0;
}

.product__container__button button {
    background-color: rgba(250, 190, 88, 1);
    border: 1px solid black;
    padding: 7px;
    color: black;
    border-radius: 5px;
    margin: 5px;
}

.product__gallery,
.product__column {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 0.4;
}

.product__column {
    padding: 10px;
    background-color: #F1F1F1;
}

.product__column__details {
    font-size: 10px;
    margin-bottom: 10px;
}

.product__column__details p {
    margin: 0;
}

.product__column__separator {
    border: 0;
    clear: both;
    display: block;
    width: 100%;               
    background-color: orange;
    height: 1px;
    margin-bottom: 10px;
}

/* Proprietà presenti in Slider.css */
