.product__container {
    margin-top: 30px;
    display: flex;
    margin-bottom: 50px;
}

.product__container__button button {
    background-color: orange;
    border: none;
    padding: 7px;
    color: black;
    margin: 5px;
    margin-left: 0;
    width: 90%;
}

.product__container__button select {
    border: none;
    color: black;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0;
}

.product__container__button select:focus {
    outline: none;
}

.product__gallery,
.product__column {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 0.4;
}

.product__column {
    padding: 10px;
    background-color: #F1F1F1;
}

.product__column__details {
    font-size: 10px;
    margin-bottom: 10px;
}

.product__column__details p {
    margin: 0;
}

.product__column__separator {
    border: 0;
    clear: both;
    display: block;
    width: 100%;               
    background-color: orange;
    height: 1px;
    margin-bottom: 10px;
}

.product__column__description {
    background-color: white;
    border-radius: 5px;
    margin: 10px;
    padding: 5px;
}